In [21]:
import pandas as pd
import math

# DATABASE DO KAGGLE

https://www.kaggle.com/datasets/beekiran/sales-data-analysis?resource=download

In [4]:
# ler o arquivo num dataframe
df = pd.read_csv('/content/drive/MyDrive/Python/Sales Data.csv')

In [5]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185950 entries, 0 to 185949
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        185950 non-null  int64
 1   Order ID          185950 non-null  int64
 2   Product           185950 non-null  object
 3   Quantity Ordered  185950 non-null  int64
 4   Price Each        185950 non-null  float64
 5   Order Date        185950 non-null  object
 6   Purchase Address  185950 non-null  object
 7   Month             185950 non-null  int64
 8   Sales             185950 non-null  float64
 9   City              185950 non-null  object
 10  Hour              185950 non-null  int64
dtypes: float64(2), int64(5), object(4)
memory usage: 15.6+ MB

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour
0,0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0
1,1,295666,LG Washing Machine,1,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7
2,2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12,11.95,New York City,18
3,3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15
4,4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12

## ADICIONAR A COLUNA ESTADO

In [6]:
# criar uma coluna para o estado "state" que deve ser extraído da coluna "Purchase Address". O estado está após a cidade, são as duas letras após a segunda vírgula.

df['state'] = df['Purchase Address'].apply(lambda x: x.split(',')[2].strip()[:2])

In [12]:
# verificar dados nulos
df.isnull().sum()

Unnamed: 0          0
Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
Month               0
Sales               0
City                0
Hour                0
state               0
Region              0
dtype: int64

## ADICIONAR A REGIÃO DOS ESTADOS UNIDOS

In [ ]:
# criar uma coluna no dataframe df com a informação da região  dos Estados Unidos baseado na coluna state

def get_region(state):
  northeast = ['ME', 'NH', 'VT', 'MA', 'RI', 'CT', 'NY', 'NJ', 'PA']
  midwest = ['ND', 'SD', 'NE', 'KS', 'MN', 'IA', 'MO', 'WI', 'IL', 'MI', 'IN', 'OH']
  south = ['DE', 'MD', 'DC', 'VA', 'WV', 'NC', 'SC', 'GA', 'FL', 'KY', 'TN', 'AL', 'MS', 'AR', 'LA', 'OK', 'TX']
  west = ['WA', 'OR', 'CA', 'NV', 'ID', 'MT', 'WY', 'UT', 'CO', 'AZ', 'NM']

  if state in northeast:
    return 'Northeast'
  elif state in midwest:
    return 'Midwest'
  elif state in south:
    return 'South'
  elif state in west:
    return 'West'
  else:
    return 'Unknown'

df['Region'] = df['state'].apply(get_region)

In [22]:
df.head()

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour,state,Region
0,0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0,NY,Northeast
1,1,295666,LG Washing Machine,1,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7,NY,Northeast
2,2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12,11.95,New York City,18,NY,Northeast
3,3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15,CA,West
4,4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12,GA,South

In [19]:
#exportar o dataframe df para um arquivo csv

df.to_csv('/content/drive/MyDrive/Python/df.csv', index=False)

In [20]:
# dividir o arquivo df.csv em 20

n = 20  # Número de dataframes desejados
num_lines = len(df)
lines_per_df = math.ceil(num_lines / n)

for i in range(n):
  start = i * lines_per_df
  end = (i + 1) * lines_per_df
  df_subset = df.iloc[start:end]
  df_subset.to_csv(f'/content/drive/MyDrive/Python/vendas_{i + 1}.csv', index=False)